.container{
    border:3px solid black;
    max-height:80%;
    margin-top:5px;
}

.container-fluid{
    border:2px solid red;
}
.container-fluid{
    background-color:white;
    margin:1em 0px;
    border-radius:6px;
    box-shadow:black 0px 1px 8px;
    padding: 16px;
    text-align:center;
    

}